h1 {
  text-align: center;
  letter-spacing: 4px;
  color: red;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 30px;
  padding: 40px; }
  @media screen and (max-width: 720px) {
    h1 {
      font-size: 1.8rem; } }
  @media screen and (max-width: 320px) {
    h1 {
      font-size: 1.3rem; } }

h2 {
  color: #fda83b;
  letter-spacing: 3px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 2rem;
  padding: 20px; }
  @media screen and (max-width: 720px) {
    h2 {
      font-size: 1rem; } }
  @media screen and (max-width: 320px) {
    h2 {
      font-size: 0.8rem; } }

body {
  background: black; }

.parrafoUno {
  color: black;
  background-color: #fda83b;
  text-align: justify;
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-size: 2rem;
  margin: 10px;
  padding: 40px; }
  @media screen and (max-width: 720px) {
    .parrafoUno {
      font-size: 0.8rem; } }
  @media screen and (max-width: 320px) {
    .parrafoUno {
      font-size: 0.8rem; } }

/* NAV DE BOOSTRAPS */
.navbar {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(83deg, #212529 58%, #5e0909 98%);
  position: sticky;
  top: 0px; }

.navbar-brand img {
  width: 170px; }

.navbar-collapse {
  flex-grow: initial; }

.collapse .navbar-nav .nav-link {
  font-size: 1.3rem;
  color: #fda83b; }

.navbar-toggler {
  background-color: #913836;
  border: 4px solid #131618; }

/* FOOTER */
footer {
  background: linear-gradient(83deg, #212529 58%, #5e0909 98%);
  padding: 20px; }
  footer .bi {
    line-height: 2;
    vertical-align: 0.875em;
    -webkit-font-smoothing: antialiased;
    font-size: 25px;
    color: #fda83b; }
  footer ul {
    display: flex;
    justify-content: space-around; }

.textContac {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc; }
  @media screen and (max-width: 720px) {
    .textContac {
      font-size: 1rem; } }
  @media screen and (max-width: 320px) {
    .textContac {
      font-size: 0.8rem; } }

.contac {
  font-size: 1.2rem; }
  @media screen and (max-width: 720px) {
    .contac {
      font-size: 1rem; } }
  @media screen and (max-width: 320px) {
    .contac {
      font-size: 0.8rem; } }

.sombra {
  margin: 25px auto;
  border: 10px solid #ccc;
  width: 600px;
  height: 500px;
  box-shadow: 10px 10px 20px #e04747; }

.imgGaleria {
  width: 250px;
  margin-bottom: 10px; }

.grids__item {
  position: relative;
  background: #080808;
  background: linear-gradient(287deg, #242323 41%, #830000 69%);
  display: flex;
  justify-content: center;
  align-items: center; }

.bajoNombre {
  position: absolute;
  bottom: 0;
  color: #fda83b;
  background: linear-gradient(#732828, black);
  width: 100%;
  margin: 0;
  padding: 10px;
  font-size: 1.2rem; }
  @media screen and (max-width: 720px) {
    .bajoNombre {
      font-size: 1rem; } }
  @media screen and (max-width: 320px) {
    .bajoNombre {
      font-size: 0.8rem; } }

.grids {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  padding: 20px; }
  @media screen and (max-width: 720px) {
    .grids {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 1fr); } }
  @media screen and (max-width: 320px) {
    .grids {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(10, 1fr); } }

.imgGaleria {
  width: 250px;
  margin-bottom: 10px; }

.imgGaleria:hover {
  transition: all 1s;
  transform: scale(1.2); }

.accordion-button {
  padding: 1.5rem 1.25rem;
  font-size: 1.2rem;
  color: #e20d12;
  background: linear-gradient(83deg, #212529 58%, #5e0909 98%); }

.accordion-button:not(.collapsed) {
  color: #e20d12;
  background: black;
  background: linear-gradient(83deg, #212529 58%, #5e0909 98%); }

.centrarImg {
  display: flex;
  justify-content: center; }

.laimagen1 {
  width: 250px;
  margin-bottom: 10px; }
  @media screen and (max-width: 720px) {
    .laimagen1 {
      width: 100%; } }
  @media screen and (max-width: 320px) {
    .laimagen1 {
      width: 100%; } }

.tituloprincipal {
  font-family: 'Courier Prime', monospace;
  font-family: 'Fira Mono', monospace;
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 4rem; }
  @media screen and (max-width: 720px) {
    .tituloprincipal {
      font-size: 2.5rem; } }
  @media screen and (max-width: 320px) {
    .tituloprincipal {
      font-size: 1.9rem; } }

.banner__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  padding: 50px; }
  @media screen and (max-width: 720px) {
    .banner__container {
      grid-template-columns: repeat(2, 1fr);
      flex-direction: column; } }
  @media screen and (max-width: 320px) {
    .banner__container {
      grid-template-columns: 1fr;
      flex-direction: column; } }

.logo1 {
  height: 50px; }

.grids_item2 {
  background-color: #fda83b;
  display: flex;
  justify-content: center;
  align-items: center; }

.resaltado1 {
  color: #a01414;
  font-weight: 1000;
  font-size: 2rem; }
  @media screen and (max-width: 720px) {
    .resaltado1 {
      font-size: 1rem; } }
  @media screen and (max-width: 320px) {
    .resaltado1 {
      font-size: 0.8rem; } }

.imgindex {
  display: flex;
  justify-content: center; }

.centrarImg {
  width: 80%; }
  @media screen and (max-width: 720px) {
    .centrarImg {
      display: flex;
      justify-content: center;
      width: 500px; } }
  @media screen and (max-width: 320px) {
    .centrarImg {
      display: flex;
      justify-content: center;
      width: 300px; } }

.img-banner {
  display: flex;
  width: 70%; }
  @media screen and (max-width: 720px) {
    .img-banner {
      width: 100%; } }
  @media screen and (max-width: 320px) {
    .img-banner {
      width: 100%; } }

.grids {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px; }
  @media screen and (max-width: 720px) {
    .grids {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 1fr); } }
  @media screen and (max-width: 320px) {
    .grids {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(10, 1fr); } }

.grids__item {
  position: relative;
  background: #080808;
  background: linear-gradient(287deg, #242323 41%, #830000 69%);
  display: flex;
  justify-content: center;
  align-items: center; }

.video_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr); }
  @media screen and (max-width: 720px) {
    .video_container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr); } }
  @media screen and (max-width: 320px) {
    .video_container {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(6, 1fr); } }

iframe {
  width: 450px;
  height: 300px; }
  @media screen and (max-width: 720px) {
    iframe {
      width: 300px;
      height: 200px; } }
  @media screen and (max-width: 320px) {
    iframe {
      width: 200px;
      height: 150px; } }
