h1 {
  text-align: center;
  letter-spacing: 4px;
  color: red;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 30px;
  padding: 40px; }

h2 {
  color: #fda83b;
  letter-spacing: 3px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 2rem;
  padding: 20px; }

body {
  background: black; }

.parrafoUno {
  color: black;
  background-color: #fda83b;
  text-align: justify;
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-size: 2rem;
  margin: 10px;
  padding: 40px; }

/* NAV DE BOOSTRAPS */
.navbar {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(83deg, #212529 58%, #5e0909 98%);
  position: sticky;
  top: 0px; }

.navbar-brand img {
  width: 170px; }

.navbar-collapse {
  flex-grow: initial; }

.collapse .navbar-nav .nav-link {
  font-size: 1.3rem;
  color: #fda83b; }

.navbar-toggler {
  background-color: #913836;
  border: 4px solid #131618; }

/* FOOTER */
footer {
  background: linear-gradient(83deg, #212529 58%, #5e0909 98%);
  padding: 20px; }
  footer .bi {
    line-height: 2;
    vertical-align: 0.875em;
    -webkit-font-smoothing: antialiased;
    font-size: 25px;
    color: #fda83b; }
  footer ul {
    display: flex;
    justify-content: space-around; }

.textContac {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc; }

.contac {
  font-size: 1.2rem; }

.sombra {
  margin: 25px auto;
  border: 10px solid #ccc;
  width: 600px;
  height: 500px;
  box-shadow: 10px 10px 20px #e04747; }

.imgGaleria {
  width: 250px;
  margin-bottom: 10px; }

.grids__item {
  position: relative;
  background: #080808;
  background: linear-gradient(287deg, #242323 41%, #830000 69%);
  display: flex;
  justify-content: center;
  align-items: center; }

.bajoNombre {
  position: absolute;
  bottom: 0;
  color: #fda83b;
  background: linear-gradient(#732828, black);
  width: 100%;
  margin: 0;
  padding: 10px;
  font-size: 1.2rem; }

.grids {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  padding: 20px; }

.imgGaleria {
  width: 250px;
  margin-bottom: 10px; }

.imgGaleria:hover {
  transition: all 1s;
  transform: scale(1.2); }

.accordion-button {
  padding: 1.5rem 1.25rem;
  font-size: 1.2rem;
  color: #e20d12;
  background: linear-gradient(83deg, #212529 58%, #5e0909 98%); }

.accordion-button:not(.collapsed) {
  color: #e20d12;
  background: black;
  background: linear-gradient(83deg, #212529 58%, #5e0909 98%); }

.centrarImg {
  display: flex;
  justify-content: center; }

.laimagen1 {
  width: 250px;
  margin-bottom: 10px; }

.tituloprincipal {
  font-family: 'Courier Prime', monospace;
  font-family: 'Fira Mono', monospace;
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 3rem; }

.banner__container {
  display: flex;
  justify-content: center;
  padding: 50px; }

.logo1 {
  height: 50px; }

.grids_item2 {
  background-color: #fda83b;
  display: flex;
  justify-content: center;
  align-items: center; }

.resaltado1 {
  color: #a01414;
  font-weight: 1000;
  font-size: 2rem; }

.imgindex {
  display: flex;
  justify-content: center; }

.centrarImg {
  width: 50%; }

.img-banner {
  display: flex;
  width: 100%; }

.grids__item {
  position: relative;
  background: #080808;
  background: linear-gradient(287deg, #242323 41%, #830000 69%);
  display: flex;
  justify-content: center;
  align-items: center; }

.video_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr); }

iframe {
  width: 430px;
  height: 290px; }

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1.8rem; }
  h2 {
    font-size: 1rem; }
  .parrafoUno {
    font-size: 0.8rem; }
  /* index */
  .tituloprincipal {
    font-size: 2.5rem; }
  .resaltado1 {
    font-size: 1rem; }
  .centrarImg {
    display: flex;
    justify-content: center;
    width: 500px; }
  .img-banner {
    width: 100%; }
  /* contacto */
  .textContac {
    font-size: 1rem; }
  .contac {
    font-size: 1rem; }
  /* historia */
  .laimagen1 {
    width: 100%; }
  /* recitales */
  .video_container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr); }
  iframe {
    width: 300px;
    height: 200px; }
  /* galeria */
  .bajoNombre {
    font-size: 1rem; }
  .grids {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr); } }

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 1.3rem; }
  h2 {
    font-size: 0.8rem; }
  .parrafoUno {
    font-size: 0.8rem; }
  /* index */
  .tituloprincipal {
    font-size: 1.9rem; }
  .resaltado1 {
    font-size: 0.8rem; }
  .centrarImg {
    display: flex;
    justify-content: center;
    width: 300px; }
  .img-banner {
    width: 100%; }
  /* contacto */
  .textContac {
    font-size: 0.8rem; }
  .contac {
    font-size: 0.8rem; }
  .laimagen1 {
    width: 100%; }
  .video_container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr); }
  iframe {
    width: 200px;
    height: 150px; }
  /* galeria */
  .bajoNombre {
    font-size: 0.8rem; }
  .grids {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr); } }
