
h1 {
    text-align: center;
    letter-spacing: 4px;
    color: map-get($colores,"color-parah1");
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-bottom: 30px;
    padding: 40px;
    @include mediaQuery('tablet'){
      font-size: 1.8rem;
    }
    @include mediaQuery('mobile'){
      font-size: 1.3rem;
    }
}
h2{
    color: map-get($colores,"color-parah2");
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2rem;
    padding: 20px;
    @include mediaQuery('tablet'){
      font-size: 1rem;
    }
    @include mediaQuery('mobile'){
      font-size: 0.8rem;
    }
}
body {
    background: map-get($colores,"color-principalfondo");
  }
.parrafoUno {
    color: black;
    background-color: #fda83b;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 0.5px;
    font-size: 2rem;
    margin: 10px;
    padding: 40px;
    @include mediaQuery('tablet'){
      font-size: 0.8rem;
    }
    @include mediaQuery('mobile'){
      font-size: 0.8rem;
    }
  }
/* NAV DE BOOSTRAPS */
.navbar {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(83deg, #212529 58%, rgb(94, 9, 9) 98%);
    position: sticky;
    top: 0px;
  }
  
  .navbar-brand img {
    width: 170px;
  }
  
  .navbar-collapse {
    flex-grow: initial;
  }
  
  .collapse .navbar-nav .nav-link {
    font-size: 1.3rem;
    color: #fda83b;
  }
  
  .navbar-toggler {
    background-color: #913836;
    border: 4px solid #131618;
  }
  /* FOOTER */
  footer {
    background: linear-gradient(83deg, #212529 58%, rgb(94, 9, 9) 98%);
    padding: 20px;
    .bi {
        line-height: 2;
        vertical-align: 0.875em;
        -webkit-font-smoothing: antialiased;
        font-size: 25px;
        color: #fda83b;
    }
    ul {
    display: flex;
    justify-content: space-around;
  }
}