
.textContac {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
  }
  .contac{
    font-size: 1.2rem;
  }
  .sombra {
    margin: 25px auto;
    border: 10px solid #ccc;
    width: 600px;
    height: 500px;
    box-shadow: 10px 10px 20px #e04747;
  }