.accordion-button {
    padding: 1.5rem 1.25rem;
    font-size: 1.2rem;
    color: #e20d12;
    background: linear-gradient(83deg, #212529 58%, rgb(94, 9, 9) 98%);
  }
  
  .accordion-button:not(.collapsed) {
    color: #e20d12;
    background: rgb(0, 0, 0);
    background: linear-gradient(83deg, #212529 58%, rgb(94, 9, 9) 98%);
  }
  .centrarImg {
    display: flex;
    justify-content: center;
  }
  
  .laimagen1 {
    width: 250px;
    margin-bottom: 10px;
    @include mediaQuery('tablet'){
      width: 100%;
    }
    @include mediaQuery('mobile'){
      width: 100%;
    }
  }