.tituloprincipal {
  font-family: 'Courier Prime', monospace;
  font-family: 'Fira Mono', monospace;
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 4rem;
}

.banner__container {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.logo1 {
  height: 50px;
}

.grids_item2 {
  background-color: #fda83b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resaltado1 {
  color: rgb(160, 20, 20);
  font-weight: 1000;
  font-size: 2rem;

}

.imgindex {
  display: flex;
  justify-content: center;
}

.centrarImg {
  width: 70%;
}

.img-banner {
  display: flex;
  width: 100%;
}