.grids {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    @include mediaQuery('tablet'){
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 1fr);
    }
    @include mediaQuery('mobile'){
      grid-template-columns: 1fr;
      grid-template-rows: repeat(10, 1fr);
    }
  }
.grids__item {
    position: relative;
    background: rgb(8, 8, 8);
    background: linear-gradient(287deg,
        rgb(36, 35, 35) 41%,
        rgba(131, 0, 0, 1) 69%);
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  .video_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    @include mediaQuery('tablet'){
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
    @include mediaQuery('mobile'){
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(6, 1fr);
    }
  }
  
  iframe {
    width: 450px;
    height: 300px;
    @include mediaQuery('tablet'){
      width: 300px;
      height: 200px;
    }
    @include mediaQuery('mobile'){
      width: 200px;
      height: 150px;
    }
  }