$colores:(
    "color-principalfondo":rgb(0,0,0),
    "color-parah1": rgb(255, 0, 0),
    "color-parah2": #fda83b
);
@mixin h2 ($bgColor, $textColor) {
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5rem;
    background-color: $textColor;
    color: $bgColor;
}
